#map {
  height: 50vh;
  width: 100%;
  cursor: url(http://ionicframework.com/img/finger.png) 8 8,auto;
  border: 1px solid #ccc;
}

.wrapper{
  margin: 5px;
  text-align: center;
}

@media screen and (max-width: 600px) {
    #map {
        height: 40vh;
    }
}